# Managed by Cluster-ELK-Ansible

# ElasticSearch Cluster Configs
cluster.name: {{ es_cluster_name }}
node.name: {{ es_node_name }}
# Node type
{% if es_cluster_node == "master" %}
node.master: true
{% else %}
node.data: true
{% endif %}
# Listen on All interfaces over network
network.host: 0.0.0.0 

# Avoid Split Brain in cluster 
discovery.zen.minimum_master_nodes: 2

#detail the private IPs of your nodes:
discovery.zen.ping.unicast.hosts: {{ es_cluster_unicast }}
